<!DOCTYPE html>
<html>
  <head>
    <title>Threadly</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render :partial => '/shared/nav.html.slim'%>
    <main role="main" class="container-fluid thr-main-content thr-no-padding">
      <%= yield %>
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    </main>
  </body>
</html>
